<%= turbo_frame_tag "#{dom_id(workout)}_duration" do %>
  <span class="text-secondary small grey">⏱️ <%= formatted_duration(workout.rounded_duration) %> - <%= workout.public ? "Public workout" : "Private workout" %></span>
<% end %>