<p style="color: green"><%= notice %></p>

<h1>Workouts</h1>

<div id="workouts">
  <% @workouts.each do |workout| %>
    
      <%= turbo_stream_from workout %>

      <div class="card workout-index-card"> 
        <%= render "workout_header", workout: workout %>
      </div>
    
  <% end %>
</div>

<%= link_to "+ New workout", new_workout_path, class: "my-3 btn btn-primary" %>
