<div id="<%= dom_id session %>">
  <p>
    <%# <strong>Name:</strong> %>
    <%#= session.name %>
  </p>

  <p>
    <%# <strong>Description:</strong> %>
    <%#= session.description %>
  </p>

</div>
