@use "config/variables" as *;

body {
  position: relative;
  margin-top: 80px;
}

.dark-mode {
  background-color: $background-color-dark !important;
  color: $font-color-dark !important;
  
  a {
    color: $links-dark !important;
  }
  
}

// a {
//   text-decoration: none !important;
//   color: black !important; 
// }

.container {
  max-width: 700px !important;
}

.hidden {
  display: none;
}

/* RESPONSIVE */

/* Smallest device */
@media (min-width: 100px) and (max-width: 575px) {

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

