<div class="px-4 py-5" id="features">
  <h1 class="pb-2 border-bottom display-5 fw-bold lh-1 mb-3">Features</h1>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="col d-flex align-items-start">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
      </div>
      <div>
        <h2>Workouts</h2>
        <p>Use the workouts generator to create and save your own workouts. Plan ahead of your gym visit or copy an existing public workout to your profile.</p>
        <%= link_to "Create a workout", new_workout_path, class: "btn btn-primary" %>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"/></svg>
      </div>
      <div>
        <h2>Community</h2>
        <p>Join a community of fitness enthusiats. Motivate others and create unique and cool content. Choose from publicly available exercises or create your own and share them.</p>
        <%= link_to "Create an exercise", new_exercise_path, "data-controller": "turbo", class: "btn btn-primary" %>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"/></svg>
      </div>
      <div>
        <h2>Routine</h2>
        <p>Our pros create a new workout for you everyday and deliver it straight to your inbox. Get new insights and stay commited with a diverse selection of workouts and exercises.</p>
        <%= link_to "Try it out", home_modal_path,"data-controller": "turbo", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
