<div class="col-sm">
  <%= link_to workout_path(workout.id) do %>
    <div class="card workout-card small" style="min-height: 150px;">
      
      <div class="card-body">
        <h5 class="card-title"><%= category %></h5>
        <h6 class="card-subtitle mb-2"><%= workout.name %></h6>
        <p class="card-text"><%= workout.description %></p>
        <%# <a href="#" class="card-link">Card link</a> %>
        <%# <a href="#" class="card-link">Another link</a> %>
      </div>
      
    </div>
  <% end %>
</div>