<% flash.each do |flash_type, message| %>
  <div
    class="flash__message"
    data-controller="removals"
    data-action="animationend->removals#remove">
    <%= Icon.new("info").call %>
    <%= message %>
  </div>
<% end %>
