<header class="navbar fixed-top" 
        data-controller="sidebar navbar"
        data-action="scroll@window->navbar#updateNavbar">
  <div class="navbar__brand">
    <%= link_to "💪💥", root_path %>
  </div>
  <% if user_signed_in? %>
    <div class="navbar__name">
      <%= link_to current_user.email_username, user_path(current_user) %>
    </div>
  <% end %>
  <button data-action="click->sidebar#toggleOpen">
    <%= Icon.new("hamburger").call %>
  </button>
  <%= render partial: "shared/sidebar" %>
</header>


