<div data-stopwatch-target="clock" class="stopwatch">
  <div class="time">
    <span id="display">00:00:00</span>
  </div>

  <div class="controls">
    <button class="buttonPlay">
      <i id=playButton class="bi bi-play-circle"></i>
      <i id="pauseButton" class="bi bi-pause-circle"></i>
    </button>

    <button class="buttonReset">
      <i id="resetButton" class="bi bi-stop-circle"></i>
    </button>
  </div>
</div>