<div data-controller="meta" data-meta-target="published" class="workout-mode">
  <label class="visible-label" for="workout_mode">Workout mode</label>
  <input data-meta-target="checkbox" class="toggle" type="checkbox" value="1" id="workout_mode" data-action="change->meta#toggleWorkoutMode">
  <label class="form-check-label" for="workout_mode"></label>
</div>
