<div id="<%= dom_id block %>" class="card block-card mb-3">

  <div id="exercise_instances">
    <%= render block.exercise_instances.order(created_at: :asc) %>
  </div>

  <div class="new_exercise mt-2 mx-2">
    <%= link_to "+ Add exercise", new_session_block_exercise_instance_path(block.session, block), "data-controller": "turbo", class: "btn btn-primary" %>
  </div>
  
  <%#= turbo_frame_tag "new_exercise_instance", src: new_session_exercise_instance_path(block.session), target: "_top" %>
  
  <div class="handle">
    <i class="fas fa-grip-lines"></i>
  </div>

  <%= button_to session_block_path(block.session, block), method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }, class: "btn-styling" do %>
    <i class="show-icon fas fa-trash-alt inline-delete"></i>
  <% end %>
</div>
