<div class="block-title">
  
  <h1><%= block.title %></h1>
  
  <%= button_to "✍️", edit_title_workout_block_path(block.workout, block), method: :post, data: { "meta-target": "published" }, class: "btn-styling meta" %>

</div>
