<h1>About St Gym</h1>
<p>The idea for this app was born in Santa Teresa (St), Costa Rica.</p> 
<p>There, I would visit an amzing gym (Real Training) that offered functional training sessions. I was immediatley hooked by this kind of workout, since it mainly uses your own weight and it trains your whole body. It was the perfect training to support my surfing.</p>
<p>What I also really enjoyed was the incredible energy I felt during those sessions. One part was, of course, the great coach, who was really good at motivating everyone. But the other part was the fact that everybody was working out together. This comradery created a unique atmosphere, helping me push my limites everytime I went there.</p>
<p>So I thought, why not try to replicate this energy online, so that there is always somewhere a group of people working out together. Obvisouly the energy will not be the same as in-person group sessions. But maybe something else can emerge from this.</p> 
<p>Maybe a bunch of like-minded people can come together to improve their fitness and wellbeing, while being part of a community that helps achieve this goal! That's what St Gym is all about.</p>
<p>So go ahead, <%= link_to "create your own workout", new_workout_path, class: "link-info" %> or <%= link_to "join an existing one", workout_path(Workout.first(9).sample), class: "link-info" %></p>
<p>Happy workout!</p>
<br>
