@use "config/variables" as *;

.avatar-circle {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
}

.avatar-text {
  color: #fff !important;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  position: absolute;
}