@use "config/variables" as *;

.btn-styling {
  background: none;
  border: none;
  padding: 0;
  .fas {
    padding-top: 0;
    font-size: 16px;
  }
}

.fas {
  color: black;
  font-size: 20px !important;
}

.fas:hover {
  font-weight: bold !important;
}

.dark-mode .fas {
  color: $font-color-dark; 
}

.session-edit {
  position: absolute;
  top: 6px;
  right: 8px;
  font-weight: lighter !important;
}

.handle {
  // .fa-grip-lines {
    // color: $bright-coral;
    // font-size: 20px;
  // }
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
}

.button_to {
  margin-left: 1.5px;
}

.handle-block {
  font-size: 24px;
}

.handle-exercise-instance {
  font-size: 20px;
  margin-right: 6px;
  padding-top: 20px;
}

.block-actions {
  position: absolute;
  top: 6px;
  right: 10px;
}

.fa-trash-alt {
  font-size: 20px;
  font-weight: lighter !important;
}

.inline-delete {
  position: absolute;
  top: 50px;
  right: 13px;
}

.emoji {
  font-size: 20px;
}

// .emoji:hover {
//   font-size: 22px;
// }

