@use "config/variables" as *;

.workout-card {
  min-height: 400px;
  position: relative;
  text-decoration: none !important;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.workout-cards a {
  text-decoration: none !important;
  color: black;
}

.workout-cards .col-sm {
  margin-bottom: 12px;
}

.card {
  background-color: $card-background !important;
}

.dark-mode .card {
  background-color: $card-background-dark !important;
  border: 1px $border-color-dark solid !important;
}

.dark-mode .workout-card {
  background-color: $card-background-dark !important;
  border: 1px $border-color-dark solid !important;
  box-shadow: 0 0 15px $card-background-dark;
}

.workout-card .workout-body {
  padding-top: 0px;
}

.dark-mode .workout-index-card {
  background-color: $card-background-dark !important;
  border: 1px $border-color-dark solid !important;
}

.workout-index-card {
  margin-bottom: 12px;
}

.workout-index-card .card-header {
  border: none;
}

.workout-index-card h1 {
  font-size: 22px;
  font-weight: 600;
}

#workouts a {
  // text-decoration: none;
  color: inherit;
}

.block-card {
  min-height: 120px;
  margin-bottom: 12px;
}

.workout-title h1 {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 8px; 
    
  color: #7E73FF;
  text-shadow: 0 0 0px #fff, 0 0 50px #7E73FF;
}

.dark-mode .block-card {
  background-color: $card-background-dark !important;
  // border: 1px $border-color-dark dashed !important;
  border: 1px $border-color-dark solid !important;
}

.card-header form {
  margin-bottom: -20px !important;
}

.dark-mode .card-header {
  border-bottom: 1px $border-color-dark solid !important;
}

/* RESPONSIVE */

/* Smallest device */
@media (min-width: 100px) and (max-width: 575px) {
  .card-body {
    padding-left: 6px !important;
    padding-right: 6px !important;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  
}