@use "config/variables" as *;

.session-card {
  min-height: 400px;
  position: relative;
}

.dark-mode .session-card {
  background-color: $card-background-dark !important;
  border: 1px $font-color-dark solid !important;
}

.block-card {
  min-height: 120px;
  // border: 1px grey dashed !important;
  padding-right: 40px !important;
}

.dark-mode .block-card {
  background-color: $card-background-dark !important;
  // border: 1px $font-color-dark dashed !important;
  border: 1px $font-color-dark solid !important;
}

.card-header form {
  margin-bottom: -20px !important;
}

.dark-mode .card-header {
  border-bottom: 1px $font-color-dark solid !important;
}