.categories {
  &__input-field {
    margin-top: 0.5rem;
    border: 1px solid var(--bootstrap-gray);
    min-height: 3rem;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.5rem 0 0.5rem;

    &--category-pills {

    }

    &--dropdown-btn {
      button {
        background: none;
        padding: 0.2rem 0.5rem;
        border: 1px solid rgba(0,0,0,.3) !important;
        border-radius: var(--space-xxxs) !important;
      }
    }
  }

  &__dropdown {
    border: 1px solid var(--bootstrap-gray) !important;
    border-top: none !important;
    background-color: white !important;
    border-radius: var(--border-radius);
    width: 100%;
    overflow:scroll; 
    z-index: 1;
    padding: 0.5rem 0.5rem 0 0.5rem;
  
    &--main-categories {
    }
    
    &__category-pill {
      margin-bottom: 10px;
      cursor: pointer;
    }
  }

  &__warning {
    color: var(--color-primary);
    font-size: 0.8rem;
    margin-top: 0.5rem;
    i {
      color: inherit;
    }
  }
}
