.categories {
  &__input-field {
    margin-top: 0.5rem;
    border: 1px solid var(--bootstrap-gray);
    height: 3rem;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 6px 6px;

    &--category-pills {

    }

    &--dropdown-btn {

    }
  }

  &__dropdown {
    border: 1px solid var(--bootstrap-gray) !important;
    border-top: none !important;
    background-color: white !important;
    border-radius: var(--border-radius);
    width: 100%;
    overflow:scroll; 
    z-index: 1;
    padding: 0.5rem 0.5rem;
  
    &--main-categories {
    }
    
    &__category-pill {
      // margin-top: 12px;
      cursor: pointer;
    }
  }

  &__warning {
    color: var(--color-primary);
    font-size: 0.8rem;
    margin-top: 0.5rem;
    i {
      color: inherit;
    }
  }
}
