.dropdown-content {
  // position: absolute;
  margin-top: 0.5rem;
  border: 1px solid var(--bootstrap-gray) !important;
  background-color: white !important;
  border-radius: var(--border-radius);
  width: 100%;
  min-height:200px;
  overflow:scroll; 
  z-index: 1;
}  