.exercise {
  display: flex;
  border-bottom: 1px solid var(--bootstrap-gray);
  // border-radius: var(--space-xxs);
  justify-content: space-between;
  padding: var(--space-xxs);
  margin-bottom: var(--space-xxxs);

  &__content {
    display: flex !important;
    color: inherit;

    h6 {
      margin-bottom: 0 !important;
      margin-right: 4px;
    }
  }

  &__actions {
    display: flex;
    // align-items: center;
    justify-content: space-between;
    min-width: 60px;
  }
}