@use "config/variables" as *;

.inline-form {
  // display: flex;
  // flex-flow: row wrap;
  // align-items: center;
  // justify-content: space-around;
  position: relative;
}

.dark-mode .form-control {
  background-color: $card-background-dark !important;
  color: $font-color-dark !important;
}

.dark-mode select {
  background-color: $card-background-dark !important;
  color: $font-color-dark !important;
}

.title-form {
  display: flex;
}


