@use 'mixins/media' as *;

.my-header {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s);
  justify-content: space-between;
  margin-top: var(--space-m);
  margin-bottom: var(--space-l);

  @include media(tabletAndUp) {
    margin-bottom: var(--space-xl);
  }
}

.workout-tools {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 47px;
  background-color: var(--color-white);
  z-index: 999;
  border-bottom: 1px solid var(--bootstrap-gray);
  padding-top: 6px;
}

.workout-mode {
  display: flex;
  margin-top: 3px;
  padding-top: 6px;
  padding-left: 6px !important;

  .visible-label {
    margin-right: 10px;
  }
}

