@use "config/variables" as *;

.dark-mode .navbar {
  background-color: $card-background-dark;

  i {
    color: $font-color-dark;
  }

  button {
    color: $font-color-dark;
  }
}

.navbar {
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  padding: 8px 20px !important;
  
  a, button {
    color: black;
    background-color: transparent;
    border: none;
    text-decoration: none;
  }
  
  button:focus {
    outline: none;
  }
  
  .hamburger {
    font-size: 25px;
  }

  &__brand {
    font-weight: bold;
    font-size: 25px;
  }

  &__name {
    margin-left: auto;
    margin-right: 12px;
  }

  &__right {
    margin-left: auto;
  }

}