@use "config/variables" as *;

.sort-btns {
}

.sort-btn-selector + label {
  min-width: 0 !important;
  background-color: var(--color-glint) !important;
  color: var(--color-secondary-background-dark);
  border: 1px solid var(--color-secondary-background-dark);
}
.sort-btn-selector:checked + label {
  background-color: var(--color-secondary-background-dark) !important;
  color: white;
}

.main-category + label {
  background-color: var(--color-primary-bg) !important;
  color: var(--color-primary) !important;
  border: 1px solid var(--color-primary) !important;
}

.main-category:checked + label {
  background-color: var(--color-primary-rotate) !important;
  color: white !important;
}

.user-category + label {
  background-color: var(--color-secondary-bg) !important;
  color: var(--color-secondary) !important;
  border: 1px solid var(--color-secondary) !important;
}

.user-category:checked + label {
  background-color: var(--color-secondary-rotate) !important;
  color: white !important;
}