// @import "https://fonts.googleapis.com/css2?family=Orbitron&display=swap";
// $font-family-clock: 'Orbitron', sans-serif;

.stopwatch {
  display: flex;
  justify-content: space-between;
  padding-top: 3px;
  padding-bottom: 6px;
}

.time {
  // font-family: "Roboto Mono", monospace;
  font-weight: 350;
  font-size: 20px;
  margin-right: 12px;
  margin-top: 6px;
}
  
.controls {
  margin-right: 6px;
  display: flex;
  justify-content: space-between;
  width: 60px;
}

.controls i {
  font-size: 25px;
  font-weight: lighter;
}

.stopwatch button {
  cursor: pointer;
  background: transparent;
  padding: 0;
  border: none;
  margin: 0;
  outline: none;
}

#playButton {
  display: block;
  color: var(--bs-primary);
}

#pauseButton {
  display: none;
  color: var(--bs-warning);
}

#resetButton {
  color: var(--bs-danger);
}