  <%= content_tag :div, id: dom_id(exercise), class: "exercise" do %>
    
    <div class="exercise__content">
      <%= link_to exercise.name, exercise_path(exercise), method: :get, data: { controller: "turbo" } %>
    </div>
    
    <% if policy(exercise).edit? %>
      <div class="exercise__actions">
        <%= link_to edit_exercise_path(exercise), data: { controller: "turbo" } do %>
          <span class="emoji emoji--sm">✍️</span>
        <% end %>
        <%= button_to exercise_path(exercise), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn-styling" do %>
          <%#= Icon.call("delete") %>
          <span class="emoji--sm">🗑️</span>
        <% end %>
      </div>
    <% end %>

  <% end %>  
