<%= content_tag :div, id: dom_id(category), data: { main_category: category.main_category }, class: "pill pill--categories__input #{"main-category" if category.main_category}" do %>
  <%= category.name %>
  <span class="pill__close-pill" data-action="click->category-select#removeCategory">
    <%= Icon.call("close") %>
  </span>
<% end %>

