<%= turbo_frame_tag "categories" do %>
  
  <div class="sort-btns">
    <%= render "exercises/sort_btns_user_categories" %>
    <br>
    <%= render "exercises/sort_btns_main_categories" %>
    <br>
    <%= render "exercises/sort_btns_subcategories", main_category: @main_category, exercises: exercises %>
  </div>
<% end %>