<% content_for :meta_title, "#{@exercises.count} exercises on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "Choose among many cool exercises, or add some new one, if you're missing something" %>
<%# content_for :meta_image, cl_image_path(@exercise.photo.path) %>

<div class="my-header">
  <h1>Exercises (<%= @exercises.count %>)</h1>
  <% if user_signed_in? %>
    <div class="mt-auto p-2">
      <%= link_to "⚡️ Add exercise", new_exercise_path, data: { controller: "turbo" }, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
<p class="my-3">
  Choose among many cool exercises or add a new one, if you're missing something
</p>

<div id="exercises">
  <%= render @exercises %>
</div>

