<div data-controller="random-select" data-refresh-list-target="list">
  <div class="actions flex-end">
    <button data-action="click->random-select#selectRandomExercises" class="btn btn-primary btn-sm mb-3">Pick 5 random exercises</button>
  </div>
  
  <% exercises.each do |exercise| %>
    <input type="hidden" name="exercise_instance[exercise_id][]" value="">
    <div data-random-select-target="tag" class="tag-item">
      <input class="form-check-input check_boxes optional tag-selector" type="checkbox" value="<%= exercise.id %>" name="exercise_instance[exercise_id][]" id="exercise_instance_exercise_id_<%= exercise.id %>">
      <label class="form-check-label collection_check_boxes" for="exercise_instance_exercise_id_<%= exercise.id %>"><%= highlight(exercise.name, query_array) %></label>
    </div>
  <% end %>

</div>